@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');


p#titulo{
	font-family: 'Roboto Slab', serif;
	font-size: 22pt;
}

p#titulo2{
	font-family: 'Ubuntu', sans-serif;
	font-size: 16pt;
}