@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

p#titulo{
	font-family: 'Roboto Slab', serif;
	font-size: 22pt;
}

p#titulo2{
	font-family: 'Ubuntu', sans-serif;
	font-size: 16pt;
}

#myModalAtualizar .modal-header, .close {
  background-color: #5cb85c;
  color:white !important;
  text-align: center;
  font-size: 30px;
}

#myModal .modal-header, .close {
  background-color: #EFAE4A;
  color: white !important;
  text-align: center;
  font-size: 18pt;
}

#myModalVer .modal-header, .close {
  background-color: #5AC3DE;
  color: white !important;
  text-align: center;
  font-size: 18pt;
}



#tableUser.hide_colTelefoneEmail td.ocultarTelefoneEmail {
    display:none;
}

#tableUser.hide_colEmail td.ocultarEMail {
    display:none;
}